{
  "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
  "cookies": [],
  "blocked_paths": "/billing, /subscription, /settings, /account, /pricing, /logout, /SignOut",
  "admin_password": "Pak@2026",
  "proxy_password": "03440438184",
  "site_password": "123456",
  "site_password_enabled": false,
  "watermark_enabled": true,
  "watermark_text": "Created By OneClick Tools",
  "last_login": "Never",
  "proxy_enabled": false,
  "proxy": {
    "host": "p102.instantproxies.com",
    "port": 9465,
    "username": "5119",
    "password": "C0K0nngyIvqz"
  },
  "proxy_backup": {
    "host": "",
    "port": 0,
    "username": "",
    "password": ""
  },
  "amember": {
    "enabled": true,
    "limits_enabled": true,
    "url": "app.smservicestools.pk",
    "api_key": "YOUR_AMEMBER_API_KEY",
    "default_daily": 30,
    "default_monthly": 1000,
    "session_timeout": 60,
    "product_limits": {
      "65": "St api"
    }
  }
}
